.schedule-details {
    &-header {
        width: 100%;
        max-width: 368px;
        padding: 32px;
        background-color: $White;
        border-radius: 20px;
    }

    &-header-title {
        @include font-heading($text-xl);
        color: $Text;
    }

    &-header-sub-title {
        @include font($text-base, $font-regular);
        color: $Gray-3;
    }
}